/* setting colors for page */
:root {
    --bg1: #0b0c10;
    --bg2: #45a29e;
    --bg3: #1f2833;
    --txt1: #c5c6c7;
    --txt2: #66fcf1;
    --txt3: #ffffff;
}

body {
    background-color: var(--bg1)
}

/*Style for the heading of the page*/

header {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg2);
    color: var(--txt3);
}

header h1 {
    display: inline-flex;
    font-size: 50px;
}

header nav {
    padding-top: 10px;
    margin-right: 10px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header nav ul li {
    display: inline-flex;
    margin-left: 20px;
}

a {
    color: var(--txt3);
    text-decoration: none;
}

/* Styling for the personal image and sub title */
figure { 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("http://placekitten.com/1000/700") ;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

figure h2 {
    font-size: 45px;
    color: var(--bg2);
    margin-left: 12px;
    margin-bottom: 12px;
}

/* styling for the body of the main body of the website*/
main {
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    padding: 95px;
}

/*  styling for the diffent sections of the website */
.aboutme {
    margin: 30px;
    padding: 30px;
    height: fit-content;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg3);
    color: var(--txt1);
    justify-content: flex-end;
    border-left: solid;
    border-color: var(--txt2);
}

.side {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
    position: relative;
    margin-left: -140px;
    color: var(--bg2);
}

.work {
    margin: 30px;
    padding: 30px;
    height: fit-content;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg3);
    color: var(--txt1);
    border-left: solid;
    border-color: var(--txt2);
}

.titlework { 
    padding: 10px;
    display: flex;
    text-align: justify;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url("http://placekitten.com/800/700") ;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 90%;
    margin: 2%;
    min-width: 300px;
}

.titlework a {
    font-size: 35px;
    color: var(--txt2);
}


.ndwk { 
    float: left;
    padding: 20px;
    display: flex;
    text-align: justify;
    justify-content: end;
    align-items: flex-end;
    background-image: url("http://placekitten.com/400/600") ;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 35%;
    min-width: 300px;
    margin: 2%;
}

.ndwk a {
    font-size: 40px;
    color: var(--txt2);
}


.aboutme ul li {
    display: inline-flex;
    margin: 5%;    
}

/* style for the bottom of the page */
footer {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg2);
    color: var(--txt3);
    margin: 0%;
}

/* make portfolio work boxes glow */
.titlework:hover,
.ndwk:hover {
  box-shadow: 0 0 20px var(--txt2);
}

/* responsive design for small screens */
@media screen and (max-width: 768px) {
    .work {
      max-width: 50%;
    }
    .aboutme {
        max-width: 50%; 
    }
    
  }